@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 62.5%; /*1rem = 10px*/
}

body {
    font-size: 1.2rem; /*12px*/
    font-family: 'Lato', sans-serif;
    background-image: url('images/bg.jpg');
    height: 80vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header */
.logo img {
    width: 100px;
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #00833E;
}

/* Landing page */
.masthead {
    padding-top: 15rem;
}

.about-us {
    background-color: #00833E;
    color: #fff;
}

.scroll .scroll-down {
    text-decoration: none;
}