@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 62.5%; /*1rem = 10px*/
}

body {
    font-size: 1.1rem; /*11px*/
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


/* Header */
.logo img {
    width: 10rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #00833E;
}

.bg-color {
    background-color: #E5C889;
}

.custom-toggler {
    border-color: #fff;
}

/* Fil d'ariane */
#ariane {
    background-color: bisque;
}

/* index.hmtl */
/* Landing page */
.background {
    background: url('images/index/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.green-button {
    background-color: #00833E;
    color: #fff; }
    .green-button:hover {
    color: #00833E;
    border: solid #00833E;
}

.scroll .scroll-down {
    text-decoration: none;
}

#lien-actions a {
    color: #000;
}

/* Actions en cours */
#actions {
    background-color: bisque;
}

/* Dernieres actualites */
#actualites {
    background-color: lightgrey;
}

/* About-us.html */
/* Notre équipe */
#equipe {
    background-color: lightgrey;
}

/* Contact */
.input-form {
    border: none;
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    background: none; }
    .input-form:active, .input-form:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: #E5C889; }
      
.contact-wrap {
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid #E5C889;
}

/* Footer */
footer {
    background-color: #333;
    font-size: 1rem;
}

#icones-rs img {
    height: 45px;
}

/* Copyright */
#copyright {
    background-color: #2d2d2d;
    color: white;
}