@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 62.5%; /*1rem = 10px*/
}

body {
    font-size: 1.2rem; /*12px*/
    font-family: 'Lato', sans-serif;
}

/* Header */
.logo img {
    width: 100px;
}